body {
    line-height: 1.5;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 30px 20px;
}

.category {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f8f9fa;
}
.world-weather {
    background-color: #f0f8ff;
    padding: 15px;
    border: 1px solid #add8e6;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.world-weather dl {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.world-weather dt {
    width: 30%;
    font-weight: bold;
    color: #4682b4;
    margin-bottom: 10px;
    clear: left;
}

.world-weather dd {
    width: 70px;
    margin-left: 0;
    margin-bottom: 10px;
}